
p.blocktext {
    margin-left:auto;
    margin-right:auto;
    width:400px;
	color:orange;
	font-weight:bold;
	font-size:120%;
	background-color:darkgreen;
	margin-bottom:auto;
}


h1 {
	margin-top:0;
	margin-bottom:0;
	font-size:355%;
	color:black;
	font-family: 'Indie Flower', cursive;
	background-color:green;
}

@font-face {
	font-family: 'Indie Flower', cursive;
	font-style:normal;
	font-weight:400;
	src: url(https://fonts.googleapis.com/css?family=Indie+Flower);
}
footer	{
	background-color:darkgreen;
}
div.menu {
	background-color:orange;
}
	a:link {
		color: blue;
	}
	a:visited {
		color:blue;
	}
	a:active {
		text-decoration: none;
	}
	a:hover {
		font-weight: bold;
	}

div.required {
	font-weight:bold;
}
div.jumbotron {
	font-weight:bold;
	font-size:250%;
	color: red;
}
div.carouselcaption {
	color:green
}